li {
    padding: 1vw 1.5vw;
    align-items: center;
    list-style: none;
    box-shadow: 2px 2px 6px 0px #0000001A;
    margin-bottom: 2vh;
    border-radius: .5rem;
    font-size: 1.25vw;
    height: 2.75vw;
    margin-bottom: 4vh;

}

label {
    font-size: .5vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox {
    display: none;
}

.checkbox-svg {
    width: 1.8vw;
    height: 1.8vw;
    margin-right: 1.75vw;
    background: url("../../../../assets/images/checkbox_unchecked.svg") no-repeat center center;
    background-size: contain;
}

.custom-checkbox:checked+label .checkbox-svg {
    width: 1.8vw;
    height: 1.8vw;
    background: url("../../../../assets/images/checkbox_checked.svg") no-repeat center center;
    background-size: contain;
}

.task-description {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 115%;
    width: 22vw;
    height: 17vw;
    box-shadow: 2px 2px 10px 0px #0000001A;
    background-color: white;
    padding: 2vw;
    border-radius: .5rem;
}

.task-list {
    position: relative;
}

.task-title {
    margin-bottom: 5vh;
}

.title {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: .5vh;
}

.time {
    font-size: .9vw;
    color: #a2a2a2c8;
}



.description {
    height: 8rem;
    width: 15rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.description p:first-child {
    font-weight: 600;
    margin-bottom: 1.2vh;
}

.description p:last-child {
    flex-grow: 1;
    overflow-y: auto;
    font-size: 1vw;
    word-wrap: break-word;
}


.task-customization {
    position: absolute;
    width: 85%;
    bottom: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-customization .icon {
    height: 1.5vw;
}

.time.completed {
    color: #BA5112;
}

.delete {
    margin-left: 1vw;
}

.completed {
    background-color: #EDB046;
}

@media screen and (max-width:600px) {
    li {
        padding: .5rem 1rem;
        font-size: .85rem;
        height: 2rem;
        margin-bottom: 1.5rem;
    }

    .checkbox-svg {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 1rem;

    }

    .custom-checkbox:checked+label .checkbox-svg {
        width: 1.2rem;
        height: 1.2rem;
    }

    .task-description .icon {
        height: 2.5vw;
    }

    .task-description {
        width: 35vw;
        height: 25vw;
    }

    .task-title {
        margin-bottom: 2vh;
    }

    .description p:first-child {
        font-weight: 600;
        font-size: .8rem;
        margin-bottom: 1.2vh;
    }

    .description p:last-child {
        font-size: .7rem;

    }

    .delete {
        margin-left: 1vh;
    }

    .title {
        font-size: 1rem;
    }

    .time {
        font-size: .6rem;
    }

}

@media screen and (max-width:480px) {
    .task-description {
        width: 30vw;
        height: 25vw;
    }

    .description p:last-child {
        height: 3rem;
    }
}

@media screen and (max-width:350px) {
    .task-description {
        width: 35vw;
        height: 30vw;
    }

    .description p:last-child {
        height: 2.5rem;
    }
}